<a href="https://colab.research.google.com/github/nurfnick/Operations_Research/blob/main/LinProgWithSlack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

A = np.array([[7,3,6,1,0],[4,4,5,0,1]])
b= np.array([300,200])

In [3]:
import itertools

for i in itertools.combinations(range(5), r=2):
  print(i)
#np.linalg.solve(A,b)

(0, 1)
(0, 2)
(0, 3)
(0, 4)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

In [4]:
index = [[i,j] for i in range(5) for j in range(i+1,5)]

index

[[0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [1, 2],
 [1, 3],
 [1, 4],
 [2, 3],
 [2, 4],
 [3, 4]]

In [5]:
for i in index:
  print(np.linalg.solve(A[:,i],b))

[37.5 12.5]
[27.27272727 18.18181818]
[ 50. -50.]
[42.85714286 28.57142857]
[-33.33333333  66.66666667]
[ 50. 150.]
[ 100. -200.]
[40. 60.]
[ 50. -50.]
[300. 200.]

In [6]:
d = {0:'small',1:'med',2:'large',3:'slacklabor',4:'slackmaterial'}

In [7]:
d[4]

'slackmaterial'

In [8]:


for i in index:
  print((d[i[0]],d[i[1]]),np.linalg.solve(A[:,i],b))

('small', 'med') [37.5 12.5]
('small', 'large') [27.27272727 18.18181818]
('small', 'slacklabor') [ 50. -50.]
('small', 'slackmaterial') [42.85714286 28.57142857]
('med', 'large') [-33.33333333  66.66666667]
('med', 'slacklabor') [ 50. 150.]
('med', 'slackmaterial') [ 100. -200.]
('large', 'slacklabor') [40. 60.]
('large', 'slackmaterial') [ 50. -50.]
('slacklabor', 'slackmaterial') [300. 200.]

In [9]:
def profit(list):
  return 4*list[0]+2*list[1]+3*list[2]

In [10]:
newlist = []
indexref = [2,3]
solution = np.linalg.solve(A[:,indexref],b)
def buildFullList(indexref,solution):
  newlist =[]
  solutioncounter = 0
  for j in range(5):
    if j not in indexref:
      newlist.append(0)
    else:
      newlist.append(round(solution[solutioncounter],5))
      solutioncounter += 1
  return newlist

buildFullList(indexref,solution)

[0, 0, 40.0, 60.0, 0]

In [11]:
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  print((d[i[0]],d[i[1]]),solution,buildFullList(i,solution),profit(buildFullList(i,solution)))

('small', 'med') [37.5 12.5] [37.5, 12.5, 0, 0, 0] 175.0
('small', 'large') [27.27272727 18.18181818] [27.27273, 0, 18.18182, 0, 0] 163.63637999999997
('small', 'slacklabor') [ 50. -50.] [50.0, 0, 0, -50.0, 0] 200.0
('small', 'slackmaterial') [42.85714286 28.57142857] [42.85714, 0, 0, 0, 28.57143] 171.42856
('med', 'large') [-33.33333333  66.66666667] [0, -33.33333, 66.66667, 0, 0] 133.33335
('med', 'slacklabor') [ 50. 150.] [0, 50.0, 0, 150.0, 0] 100.0
('med', 'slackmaterial') [ 100. -200.] [0, 100.0, 0, 0, -200.0] 200.0
('large', 'slacklabor') [40. 60.] [0, 0, 40.0, 60.0, 0] 120.0
('large', 'slackmaterial') [ 50. -50.] [0, 0, 50.0, 0, -50.0] 150.0
('slacklabor', 'slackmaterial') [300. 200.] [0, 0, 0, 300.0, 200.0] 0

In [12]:
def testForFeasible(list1):
  return (A[0]@list1<=b[0]) & (A[1]@list1<=b[1]) & all([i>=0 for i in list1])

In [13]:
all([i>=0 for i in buildFullList(indexref,solution)])

True

In [14]:
buildFullList(indexref,solution)

[0, 0, 300.0, 200.0, 0]

In [15]:
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  list1 = buildFullList(i,solution)
  print((d[i[0]],d[i[1]]),solution,list1,profit(list1),testForFeasible(list1))

('small', 'med') [37.5 12.5] [37.5, 12.5, 0, 0, 0] 175.0 True
('small', 'large') [27.27272727 18.18181818] [27.27273, 0, 18.18182, 0, 0] 163.63637999999997 False
('small', 'slacklabor') [ 50. -50.] [50.0, 0, 0, -50.0, 0] 200.0 False
('small', 'slackmaterial') [42.85714286 28.57142857] [42.85714, 0, 0, 0, 28.57143] 171.42856 True
('med', 'large') [-33.33333333  66.66666667] [0, -33.33333, 66.66667, 0, 0] 133.33335 False
('med', 'slacklabor') [ 50. 150.] [0, 50.0, 0, 150.0, 0] 100.0 True
('med', 'slackmaterial') [ 100. -200.] [0, 100.0, 0, 0, -200.0] 200.0 False
('large', 'slacklabor') [40. 60.] [0, 0, 40.0, 60.0, 0] 120.0 True
('large', 'slackmaterial') [ 50. -50.] [0, 0, 50.0, 0, -50.0] 150.0 False
('slacklabor', 'slackmaterial') [300. 200.] [0, 0, 0, 300.0, 200.0] 0 True

In [16]:
X = []
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  list1 = buildFullList(i,solution)
  X.append([(d[i[0]],d[i[1]]),solution,list1,profit(list1),testForFeasible(list1)])

In [17]:
import pandas as pd

pd.DataFrame(X,columns = ['Variables Used','Solution','Expanded with Zeros','Profit','In Feasible'])

                Variables Used  ... In Feasible
0                 (small, med)  ...        True
1               (small, large)  ...       False
2          (small, slacklabor)  ...       False
3       (small, slackmaterial)  ...        True
4                 (med, large)  ...       False
5            (med, slacklabor)  ...        True
6         (med, slackmaterial)  ...       False
7          (large, slacklabor)  ...        True
8       (large, slackmaterial)  ...       False
9  (slacklabor, slackmaterial)  ...        True

[10 rows x 5 columns]

In [22]:
A[:,0:3]

array([[7, 3, 6],
       [4, 4, 5]])

In [23]:
from scipy.optimize import linprog

linprog([-4,-2,-3],A[:,0:3],b)

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

     con: array([], dtype=float64)
     fun: -174.99999996916816
 message: 'Optimization terminated successfully.'
     nit: 5
   slack: array([5.02310513e-08, 4.09006873e-08])
  status: 0
 success: True
       x: array([3.75000000e+01, 1.25000000e+01, 9.65956889e-10])

In [27]:
A = np.array([[1,1,1,1,0],[2,3,5,0,1]])
b = np.array([80,125])

def testForFeasible(list1):
  return all([i>=0 for i in list1])
d = {0:'x',1:'y',2:'z',3:'slack1',4:'slack2'}
X = []
for i in index:
  solution = np.linalg.solve(A[:,i],b)
  list1 = buildFullList(i,solution)
  X.append([(d[i[0]],d[i[1]]),solution,list1,profit(list1),testForFeasible(list1)])

In [28]:
df = pd.DataFrame(X,columns = ['Variables Used','Solution','Expanded with Zeros','Profit','In Feasible'])

     Variables Used  ... In Feasible
0            (x, y)  ...       False
1            (x, z)  ...       False
2       (x, slack1)  ...        True
3       (x, slack2)  ...       False
4            (y, z)  ...       False
5       (y, slack1)  ...        True
6       (y, slack2)  ...       False
7       (z, slack1)  ...        True
8       (z, slack2)  ...       False
9  (slack1, slack2)  ...        True

[10 rows x 5 columns]