<a href="https://colab.research.google.com/github/nurfnick/Operations_Research/blob/main/ProblemSolving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello World")

Hello World

In [5]:
x =42

x

42

In [9]:
y = 1+4+9+16+25+36+49+64

y

204

In [10]:
z = 8*9*(2*8+1)/6

z

204.0

In [11]:
y == z

True

It is true that these numbers are equal! $y=z$ wowser.

$$
z = y
$$

My favorite equation:

$$
e^{i\pi}+1 = 0
$$

We want to check is 

$$
1^2+2^2+3^2+\cdots+n^2 = \sum_{i=1}^ni^2 = \frac{n(n+1)(2n+1)}{6}
$$

In [16]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [15]:
list =[i for i in range(10)]

list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
s = 0

for i in range(1,9):
  s = s+i**2

s

204

In [22]:
def f(x):
  return x*(x+1)*(2*x+1)/6

In [23]:
f(8)

204.0

In [27]:
s = 0 
for i in range(1,100):
  s += i**2
  print( s== f(i))

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True